
.iconField {
/*	background-color: red; */
	background-image: url("../images/form/exclamation.gif")
}

.nameCat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #0033CC;
	margin-top: 10px;
}

.nameSubCat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bolder;
/*	font-variant: normal; */
	color: #2a2a2a;
	margin-top: 5px;
}

.infoJson {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
/*	width: 400px; */
}
.infoList {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}

.goTermsList {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}

.uniprotId {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #000099;
	margin-bottom: 10px;
}

.workinprogress-cls {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	color: #000099;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 20px;
}

.workinprogress-txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}


.fieldset-nfo-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #000099;
}

.sequence {
	font-family: Courier;
	font-size: 11px;
	color: #000000;
}

.sequenceTip {
	font-family: Courier;
	font-size: 11px;
	color: #000000;
/*	background-color: #fff8dc;
	max-width: 500px; */
}

.citation-even {
	padding: 10px 10px 10px 10px;
	background-color: #ffffff;
}

.citation-odd {
	padding: 10px 10px 10px 10px;
	background-color: #d3d3d3;
}

.citationTit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #000099;
	margin-bottom: 15px;
	margin-top: 10px;
	width: 80%;
}

a div {
	text-decoration: none;
	color: #000000;
}

.backgroundRed {
	background-color: red;
}